<div>
  <h2>Title</h2>
  <div class="field">
    <label for="firstname">FirstName</label>
    <input
      id="firstname"
      pInputText
      type="text"
      placeholder="sochoeun"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input
      id="email"
      pInputText
      type="text"
      placeholder="com.example@gmail"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="age">Age</label>
    <input
      id="age"
      pInputText
      type="number"
      placeholder="24"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input
      id="password"
      pInputText
      type="password"
      placeholder="****"
      class="w-full"
    >
  </div>
  <div class="field">
    <label for="gender">Gender</label>
    <select id="gender" class="p-dropdown w-full custom-select">
      <option label="">Select an option</option>
      <option label="">MALE</option>
      <option label="">FEMALE</option>
    </select>
  </div>
  <button
  pButton
  label="Submit"
  class="w-full"
  ></button>
  <button
  pButton
  label="Cancel"
  class="w-full p-button-outlined p-button-danger mt-3 shadow-1"
  ></button>
</div>
